<div class="side">
  <h1><%= t(:recent_diaries) %></h1>
  <ul>
    <% @diaries.each do |diary| %>
      <li>
        <ul class="diary">
          <li class="name"><i class="icon-envelope"></i> <%= link_to diary.name, diary_path(diary) %> </li>
          <li class="text"> <%= truncate(diary.text) %> </li>
          <li class="from"> <%= time_ago_in_words(diary.created_at)%><%=t(:from)%> </li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

<div class="content">
  hello, it's you!
</div>
