<div class="diaries">
  <% @diaries.each do |diary| %>
    <div class="diary">
      <div class="title">
        <i class="icon-pencil"></i>
        <%= link_to diary.name, diary_path(diary), :title=> "专属ID： #{diary.id}" %>
      </div>
      <pre>
      <%= BlueCloth.new(truncate(diary.text,:length=> 200)).to_html.gsub(">\n\n<","><").html_safe %>
      </pre>
      <div class="from">
            <%= time_ago_in_words(diary.created_at)%><%=t(:from)%>
      </div>
    </div>
  <% end %>
</div>

<%= render "common/preview" %>
