<!DOCTYPE html>
<html>
<head>
  <title>Lee's Diary</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
  	<div class="navbar-inner">
      <div class="container" id="navbar">
        <%= link_to root_path, :class=>"logo brand" do%>
          <%= image_tag('holiday_diary.png')  %> Diary <em>Beta</em>
        <% end %>
        <div class="nav-collapse">
        	<ul class="nav">
        		<li> <%= link_to t(:home), root_path %> </li>
        		<li> <%= link_to t(:browse), diaries_path %> </li>
            <li> <%= link_to t(:add_note), new_diary_path %> </li>
        	</ul>
        </div>
        <% if current_user %>
          <ul class="nav pull-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.email %> <b class="caret"></b></a>
            
              <ul class="dropdown-menu">
                <li><%= link_to t(:user_profile), edit_user_registration_path,:class=>"first" %></li>
                <li><%= link_to t(:logout), destroy_user_session_path, :method=>"DELETE", :class=>"last" %></li>
              </ul>
            </li>
          </ul>
        <% end %>
      </div>
  	</div>
  </div>

  <div class="container">
    <% if notice %>
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert">
        <button class="close" data-dismiss="alert">×</button>
        <%= alert %>
      </div> 
    <% end %>
  <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
        <p>
          <a href="/about" title="你可能想知道的Diary的起源">关于Diary</a>
           | 
          <a href="/diary" title="每天都有进步">Diary官方</a>
        </p>
    </div>
  </div>
  <%= render "common/google_analytics" %>

</body>
</html>
